<div class="frm">
    <h2 style="text-align:center;">Employee Feedback Form </h2>
    <div class="btn-toolbar bg-primary justify-content-between text-white">
    <div class="btn-group">
    <a routerLink="feedback" class="btn btn-primary">Feedback From</a>
    <a routerLink="list" class="btn btn-primary">Feedback list</a>
    </div>
    </div>
    <div style="height:485px; margin-top: 20px;">
    <app-list></app-list>
    </div>
   </div>
   

<!-- <div class="frm">
    <h2 class="text-white">Employee Feedback Form</h2>
    <div class="logout"  (click)="logout()">Logout</div>
<div class="main">
    <a routerLink='feedback' routerLinkActive='active' class="feedback">New Feedback</a>
    <a routerLink='list' routerLinkActive='active'class="list" >Feedback list</a>    
</div>

</div> -->

