
<div class="frm">
    <h2 style="text-align:center;">Manager Dashbord</h2>
   </div>
   
<div class="main">
       <table class="table-from"> 
            <thead class=" text-white">
              <th>Employee Id</th>
              <th>Employee Name</th>
              <th>Project Name</th>
              <th>Rating</th>
              <th>Comments</th>
              <th>MagRating</th>
              <th>MagComment</th>
              <th>Action</th>
            </thead>
            <tbody>
              <td>Admin</td>
              <td>Admin</td>
              <td>Admin</td>
              <td>Admin</td>
              <td>Admine</td>
              <td>Admin</td>
              <td>Admin</td>
              <td>
                  <button type="button" class="btn btn-primary" (click)="edit()">Edit</button>
                  <button type="button" style="margin-left:10px;" class="btn btn-danger" (click)="delete()">Delete</button>
              </td>
            </tbody>
    </table>
</div>



